<div class="detect-adblock" id="detect-adblock" style="display: none;">
  <div class="dab-message">
    <div class="dab-buttons"><a href="#" onclick="dabHide()"><i class="fa fa-times" aria-hidden="true"></i></a></div>
    <div class="dab-content">
      {{ config.plugins['detect-adblock'].message.content|markdown }}
    </div>
  </div>
</div>
<script src="{{ home_url }}user/plugins/detect-adblock/assets/js/ads.js"></script>