<div class="detect-adblock" id="detect-adblock" style="display: none;">
  <div class="dab-message">
    <div class="dab-buttons"><a href="#" onclick="dabHide()"><i class="fa fa-times" aria-hidden="true"></i></a></div>
    <div class="dab-content">
      <p>Ce site web est possible grâce à la <strong>publicité</strong>.</p>
      <p>Nos pubs n'étant pas intrusif, nous vous demandons s'il vous plait de nous soutenir en <strong>désactivant</strong> votre bloqueur de pubs.</p>
      <p>Merci.</p>
    </div>
  </div>
</div>